<?xml version="1.0" encoding="UTF-8" ?>
 
<taglib xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
    version="2.0">
 
    <description>CommonUtil functions library</description>
    <display-name>CommonUtil functions</display-name>
    <tlib-version>1.1</tlib-version>
    <short-name>cutil</short-name>
    <uri>tlds/CommonUtil.tld</uri>
 
    <function>
        <description>메뉴 disable</description>
        <name>btnDisable</name>
        <function-class>com.fliconz.fm.security.FMSecurityContextHelper</function-class>
        <function-signature>boolean checkMethodPermissionByMenuId(java.lang.String,int)</function-signature>
        <example>
        ${cutil:btnDisable("update",1)}
        </example>
    </function>
     <function>
        <description>toDate</description>
        <name>toDate</name>
        <function-class>com.fliconz.fw.runtime.util.DateUtil</function-class>
        <function-signature>Date toDate(java.lang.String,java.lang.String)</function-signature>
        <example>
        ${cutil:toDate("20200101010000","yyyyMMddHHmmss")}
        </example>
    </function>
     <function>
        <description>date format</description>
        <name>format</name>
        <function-class>com.fliconz.fw.runtime.util.DateUtil</function-class>
        <function-signature>String format(java.util.Date,java.lang.String)</function-signature>
        <example>
        ${cutil:format(date,"yyyyMMddHHmmss")}
        </example>
    </function>
</taglib>

 