#set( $mail_title = "가입 인증 요청" )
#parse( "/mail_template/_include_header.vm" )
<div  style="line-height: 40px;	padding-top: 35px;	padding-bottom: 35px;">
			<div style="font-size: 23px;	color: #000000;	font-weight: bold;	text-align: center;">$USER_NAME님, 안녕하세요</div>
			<div style="font-size: 23px;	color: #000000;	font-weight: bold;	text-align: center;">가입 인증 메일입니다. 아래 링크를 클릭하세요.</div>
		</div>
 <br /><br />
 <div style="text-align: center;">
 
			<div
			style="border-width: 1px;	font-size: 20px;border-style: solid;color: #3c386e;font-weight: bold;	border-color: #6052ce;	border-radius: 2px !important; 	width: 200px;	height: 50px;line-height: 50px;font-family: 'Nanum Gothic', arial !important;	text-align: center;	margin-top: 40px;display: inline-block;background-image:  -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(230, 230, 230));" 
			>
				<img src="${domain}/res/img/email/icon_arrow.png" style="margin-right: 20px;" >
				<a href="$LINK" style="  text-decoration: none;   color: #3c386e;">인증요청</a>
							
			</div>
</div> 
#parse( "/mail_template/_include_footer.vm" )
 