#set( $mail_title = "VM 정보를 보내드립니다." )
#parse( "/mail_template/_include_header.vm" )
<div  style="line-height: 40px;	padding-top: 35px;	padding-bottom: 35px;">
	<div style="font-size: 23px;	color: #000000;	font-weight: bold;	text-align: center;">$USER_NAME님, 안녕하세요</div>
	<div style="font-size: 23px;	color: #000000;	font-weight: bold;	text-align: center;">$SENDER님의 요청으로 VM 정보를 메일로 알려드립니다.</div>
</div>
<br /><br />
<div style="text-align: center;">
	<div style="border-width: 1px;	font-size: 20px;border-style: solid;color: #3c386e;font-weight: bold;	border-color: #6052ce;	border-radius: 2px !important; 	width: 200px;	height: 50px;line-height: 50px;font-family: 'Nanum Gothic', arial !important;	text-align: center;	margin-top: 40px;display: inline-block;background-image:  -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(230, 230, 230));">
		$TITLE
		<br /><br /><br />
		$CONTENTS
	</div>
</div>
#parse( "/mail_template/_include_footer.vm" )
