<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>메일 발송</title>
</head>
<body>
	 
	<div class="main" style="border-color: #bbbbbb;	border: 1px solid #bbbbbb;	background-color: #ffffff;	font-family: 'Nanum Gothic', arial;	width: 760px;">
		<!-- 전체 div -->
		<div class="bg_top" style="background: url(${domain}/res/img/email/bg_top.png);	width: 760PX;	height: 130PX;	margin-right: 0px;">
		<div style="line-height: 50px;	padding-top: 20px;	padding-left: 50px;">
				<a href="${domain}"><img src="${domain}/res/img/email/logo.png" style="width:100px;border:none" /></a>
				<div class="main_title" style="font-size: 32px;	color: #ffffff;	font-weight: bold;">${mail_title}</div>
			</div>
		</div>