
	#set( $mail_title = "서버 사용 가능 안내" )
	#parse( "/mail_template/_include_header.vm" )
	<div  style="padding-left:30px; font-size:12px;">
				<div style="width: 135px; color:#fa6400; font-weight: 700;">$USER_NAME님</div>
				
				
				 아래의 서버가  사용가능 상태가 되었음을 알려드립니다. <br> 
				
				  <table width="100%" border=1 cellpading=10 cellspacing=0 style="border: none;border-top: 1.4px solid #3c404a;border-bottom: 1px solid #ddd;width: 90%;border-collapse: collapse;margin-top: 10px;">
				  <tr><td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse; width: 200px;	background-color: #edeef3;">서버명</td><td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse;font-size: 12px; background-color: white;">${TITLE}</td></tr>
				  <tr><td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse; width: 200px;	background-color: #edeef3;">IP</td><td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse;font-size: 12px; background-color: white;">${INFO1}</td></tr>
				  </table>	
	 <br /><br />
	 	<div style="color: #3c404a; font-size: 14px; margin-top: 35px; font-weight: 600; margin-bottom: 10px;" > 서버 정보</div> <br>	
			$CMT
			 
	</div> 
</div>
	#parse( "/mail_template/_include_footer.vm" )
 
	     