'
	#set( $mail_title = "서버 만료 예정 안내" )
	#parse( "/mail_template/_include_header.vm" )
	<div style="padding-left:30px; font-size:12px;">
				<div style="width: 135px; color:#fa6400; font-weight: 700;">$USER_NAME님</div>
				
				 아래의 서버가   만료될 예정임을  알려드립니다.<br>
				  
			</div>
	 <br /><br />
	 <div style="padding-left: 30px;font-size: 12px;background-color: #f5f6fa;">
	 	<div style="color: #3c404a; font-size: 14px; margin-top: 35px; font-weight: 600; margin-bottom: 10px;" > 서버 정보</div>  
			$CMT
		기간연장을 원하신다면 신규 요청 > 기간연장 요청 메뉴를 이용하시기 바랍니다. 
	</div> 
</div>
	#parse( "/mail_template/_include_footer.vm" )