
	#set( $mail_title = "서버 만료  안내" )
	#parse( "/mail_template/_include_header.vm" )
	<div style="padding-left:30px; font-size:12px;">
				<div style="width: 135px; color:#fa6400; font-weight: 700;">$USER_NAME님</div>
				
				 아래의 서버가   만료되었음을  알려드립니다.<br>
				  
			</div>
	 <br /><br />
	 <div style="padding-left: 30px;font-size: 12px;background-color: #f5f6fa;">
	 	<div style="color: #3c404a; font-size: 14px; margin-top: 35px; font-weight: 600; margin-bottom: 10px;" > 서버 정보</div>  
			$CMT
			#if (! $DELETE_DAY  )
				사용기간이 만료되어서 서버를 중지하려고 하였으나, 삭제되어 존재하지 않습니다.
			#else	
				앞으로 ${DELETE_DAY}후에 삭제될 예정입니다. 복원하시려면 신규요청>서버복원요청 메뉴를 이용해 주세요.
			#end	
	</div> 
</div>
	#parse( "/mail_template/_include_footer.vm" )