
	#set( $mail_title = " [M.clovir]Request deny notice " )
	#parse( "/mail_template/_include_header_en.vm" )
	<div  style="line-height: 40px;	padding-top: 35px;	padding-bottom: 35px;">
				<div style="font-size: 23px;	color: #000000;	font-weight: bold;	text-align: center;">Hello $USER_NAME</div>
				<div style="font-size: 23px;	color: #000000;	font-weight: bold;	text-align: center;">Your request has been returned.</div>
			</div>
	 <br /><br />
	 <div style="text-align: center;">
	 
			<table style="border-top: 2px solid #626262;	margin-left: 50px;	border-collapse: collapse;">
			 
				
				<tr>
					<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
		background-color: #eeeeee;	border-color: #d2d2d2;	width: 150px;	height: 30px;	border-right: 0px;	text-align : left;	padding-left: 10px;">Title</th>
					<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
		background-color: #ffffff;	border-color: #e0e0e0;	width: 510px;    text-align: left;	padding-left: 10px;">$REQ_NM</td>
				</tr>
				<tr>
					<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
		background-color: #eeeeee;	border-color: #d2d2d2;	width: 150px;	height: 30px;	border-right: 0px;	text-align : left;	padding-left: 10px;">Approver</th>
					<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
		background-color: #ffffff;	border-color: #e0e0e0;	width: 510px;    text-align: left;	padding-left: 10px;">$_USER_NM_</td>
				</tr>
				<tr>
					<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
						background-color: #eeeeee;	border-color: #d2d2d2;	width: 150px;	height: 30px;	border-right: 0px;	text-align : left;	padding-left: 10px;">Reason</th>
					<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
						background-color: #ffffff;	border-color: #e0e0e0;	width: 510px;    text-align: left;	padding-left: 10px;">$APPR_COMMENT</td>
				</tr> 
				 		
			</table>
	</div> 
	#parse( "/mail_template/_include_footer_en.vm" )
 
	     