
	#set( $mail_title = "요청서 반려" )
	#parse( "/mail_template/_include_header.vm" )
	<div  style="padding-left:30px; font-size:12px;">
				<div style="width: 135px; color:#fa6400; font-weight: 700;">$USER_NAME님</div>
				요청서가 반려되었습니다.
	
	 <br /><br />
	 	<table style="border: none;border-top: 1.4px solid #3c404a;border-bottom: 1px solid #ddd;width: 90%;border-collapse: collapse;margin-top: 10px;">
				<tr>
					<td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse; width: 200px;	background-color: #edeef3;">결재자</th>
					<td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse;font-size: 12px; background-color: white;">$_USER_NM_</td>
				</tr>
				<tr>
					<td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse; width: 200px;	background-color: #edeef3;">사유</th>
					<td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse;font-size: 12px; background-color: white;">$APPR_COMMENT</td>
				</tr> 
				 		
			</table>
	</div>
	 <div style="padding-left: 30px;font-size: 12px;  background-color: #f5f6fa;">
	 <div style="color: #3c404a; font-size: 14px; margin-top: 35px; font-weight: 600; margin-bottom: 10px;" > 요청 내용</div> <br>		
	 ${CMT}
	 
	 <br />
		
	</div> 
</div>

	#parse( "/mail_template/_include_footer.vm" )