	#set( $mail_title = "템플릿 요청" )
	#parse( "/mail_template/_include_header.vm" )
	<div  style="padding-left:30px; font-size:12px;">
				<div style="width: 135px; color:#fa6400; font-weight: 700;">$USER_NAME님</div>
				템플릿 요청에 대한 결과 입니다.
	
	 <br /><br />
	 	<table style="border: none;border-top: 1.4px solid #3c404a;border-bottom: 1px solid #ddd;width: 90%;border-collapse: collapse;margin-top: 10px;">
				<tr>
					<td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse; width: 200px;	background-color: #edeef3;">템플릿 요청명</th>
					<td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse;font-size: 12px; background-color: white;">#defaultValue($TITLE)</td>
				</tr>
				<tr>
					<td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse; width: 200px;	background-color: #edeef3;">결과</th>
					<td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse;font-size: 12px; background-color: white;">#defaultValue($TASK_STATUS_CD_NM)</td>
				</tr>
				<tr>
					<td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse; width: 200px;	background-color: #edeef3;">결재 의견</th>
					<td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse;font-size: 12px; background-color: white;">#defaultValue($APPR_COMMENT)</td>
				</tr> 
				 		
			</table>
	</div>
</div>

	#parse( "/mail_template/_include_footer.vm" )
 
	     