#set( $mail_title = "서버생성 완료" )
#parse( "/mail_template/_include_header.vm" )
<div  style="line-height: 40px;	padding-top: 35px;	padding-bottom: 35px;">
			<div style="font-size: 23px;	color: #000000;	font-weight: bold;	text-align: center;">$USER_NAME님, 안녕하세요</div>
			<div style="font-size: 23px;	color: #000000;	font-weight: bold;	text-align: center;">$VM_NM 서버가 생성되었습니다.</div>
		</div>
 <br /><br />
 <div style="text-align: center;">
 
		<table style="border-top: 2px solid #626262;	margin-left: 50px;	border-collapse: collapse;">
		#if ( $ADMIN_PWD )
			<tr>
				<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
	background-color: #eeeeee;	border-color: #d2d2d2;	width: 150px;	height: 30px;	border-right: 0px;	text-align : left;	padding-left: 10px;">
				관리자 패스워드</th>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	width: 510px;    text-align: left;	padding-left: 10px;">$ADMIN_PWD</td>
			</tr>
		#end
			
			<tr>
				<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
	background-color: #eeeeee;	border-color: #d2d2d2;	width: 150px;	height: 30px;	border-right: 0px;	text-align : left;	padding-left: 10px;">IP주소</th>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	width: 510px;    text-align: left;	padding-left: 10px;">$PRIVATE_IP</td>
			</tr>
			<tr>
				<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
	background-color: #eeeeee;	border-color: #d2d2d2;	width: 150px;	height: 30px;	border-right: 0px;	text-align : left;	padding-left: 10px;">서브넷 마스크</th>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	width: 510px;    text-align: left;	padding-left: 10px;">$SUBNET_MASK </td>
			</tr>
			<tr>
				<th style="border-bottom: 1px solid gray;	border-top: 0px solid white; font-size: 15px;	color: #000000;	font-weight: bold;
	background-color: #eeeeee;	border-color: #d2d2d2;	width: 150px;	height: 30px;	border-right: 0px;	text-align : left;	padding-left: 10px;">기본 게이트웨이</th>
				<td style="border-bottom: 1px solid gray;	border-top: 0px solid white;font-size: 15px;	color: #2f2a79;	font-weight: bold;
	background-color: #ffffff;	border-color: #e0e0e0;	width: 510px;	padding-left: 10px;"> $GATEWAY</td>
			</tr>
		</table>
</div> 
#parse( "/mail_template/_include_footer.vm" )
 