#set( $mail_title = "배포 완료" )
#parse( "/mail_template/_include_header.vm" )
<div style="padding-left:30px; font-size:12px;">
		<div style="width: 135px; color:#fa6400; font-weight: 700;" >$USER_NAME님</div>
			<div >
			#if (${FAIL_MSG} )
				배포 실패하였습니다.
			#else
				배포 성공하였습니다.
			#end		
			</div>
		</div>
 <br /><br />
 <div style="padding-left: 30px;font-size: 12px;">
 	#if (${FAIL_MSG} )
			 <div style="color: #3c404a; font-size: 14px; margin-top: 35px; font-weight: 600; margin-bottom: 10px;" >실패 사유</div>
			 <div style="color: red;">${FAIL_MSG}</div>
	#end
 <div style="color: #3c404a; font-size: 14px; margin-top: 35px; font-weight: 600; margin-bottom: 10px;"  >고객 입력 값</div>
 
 <table width="100%"  cellpading=10 cellspacing=0 style="border: none;border-top: 1.4px solid #3c404a;border-bottom: 1px solid #ddd;width: 90%;border-collapse: collapse;margin-top: 10px;">
  <tr height="43"><td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse; width: 200px;	background-color: #edeef3;">제목</td><td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse;font-size: 12px; background-color: white;">${INFO.REQ_TITLE} </td></tr>
 
 <tr height="43" width="200px"><td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse; width: 200px;	background-color: #edeef3;">템플릿</td><td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse;font-size: 12px; background-color: white;">${INFO.get("CATALOG_NM")}</td></tr>
 <tr height="43" width="200px"><td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse; width: 200px;	background-color: #edeef3;">서비스</td><td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse;font-size: 12px; background-color: white;">${INFO.get("CATEGORY_NMS")}</td></tr>
 
 	#foreach ($mapEntry in $CUST_DATA.entrySet())
 	<tr height="43" width="200px"><td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse; width: 200px;	background-color: #edeef3;">
 		${mapEntry.key}</td><td style="height: 43px; font-size: 14px; color: #1e1e1e;  font-weight: bold;  padding-left: 17px;  border: 1px solid #ddd;  border-bottom: none;   margin-top: -1px;  border-collapse: collapse;font-size: 12px; background-color: white;">
 		$mapEntry.value</td></tr>
 
	#end
</table style="border: none;border-top: 1.4px solid #3c404a;border-bottom: 1px solid #ddd;width: 90%;border-collapse: collapse;margin-top: 10px;">
#if (${VM_LIST} && ${VM_LIST.size()} > 0)
 <h3>생성된 VM</h3>
 <table width="100%" cellpading=10 cellspacing=0>
 <tr height="43"><td>VM명</td><td>IP</td><td>사양</td><td>SW</td></tr>
 	#foreach( $m in $VM_LIST)
 		 
 			
 <tr height="43"><td>#defaultValue(${m.VM_NM})</td><td>#defaultValue(${m.PRIVATE_IP})</td><td>${m.CPU_CNT}vCore, ${m.RAM_SIZE} GB RAM, ${m.DISK_SIZE} GB Disk  </td><td>#defaultValue(${m.SW_NMS})</td></tr>
    #end
 </table>   
#end 		 
</div>
 
</div>

#parse( "/mail_template/_include_footer.vm" )
 