.dashboardBtnArea > input {
		min-width: 140px;
	    height: 40px;
	    border-radius: 4px;
	    border: solid 1px #6e84a3;
  		background-color: #6e84a3;
		color: white;
		border-radius: 4px !important;
		font-size: 20px;
		margin-bottom: 10px;
  		margin-top: 0px;
   		 font-size: 16px;
}
.popup_area .input-spinner.inline.compact.hastitle {
	width: 300px;
}
.popup_area input[name*='USE_MM'] {
	width: 50px !important;
}
.Editor-editor {
	height: 200px !important;
}
#vm_insert_popupFrm {
	height: 600px !important;
}
.popup_area .fm-select .form-control.hastitle, .popup_area .fm-select .output.hastitle {
    display: inline-block;
    width: auto;
}

.circle {
    right: -4px;
}
#content{
    background: #eef1f6;
}
.form-control{
	border-radius: 0;
}
.calendar-btn{
	border-radius: 0;
}
.search-panel{
	border:none;
    border-radius: 1px;
	border-top:  1px solid #626262;
	border-bottom :  1px solid #626262;

}
.detail-panel{
    border-radius: 1px;
	border-bottom :  1px solid #626262;
}
body {
	min-width: 1600px;
	overflow:auto;
	height:100%;
}
.textleft{
	text-align: left;
	padding-left: 15px;
}
html{
	overflow:hidden;
	height:100%;
	background: #eef1f6;
}
.tab-content{
	border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}`
.tab-content .detail-panel{
	border : none;

}
.tab-content .detail-panel .panel-body{
	border : none;
}

.form-panel.detail-panel{
	border : none;
}
#newVm_iframe .detail-panel{
	border-top:  1px solid #626262;
}
.table_title{
	font-weight: bold;
}
#excelBtn{
    width: 34px;
    float: right;
    height: 34px;
    border: solid 1px #dddddd;
    background-color: #f0f0f0;
    border-radius: 50%;
    background-image: url(/res/img/icon_excel_down.png) !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    margin-left: 5px;
    vertical-align: middle;
}
.newBtn {
    width: auto;
    color: #09498d !important;
    height: 26px;
    border-radius: 0px;
    border: solid 1px #c4c3c3dd !important;
    background-color: #ffffff;
}

.update {
	height: 26px;
}

.newBtn:hover{
	background: #ffffff;
	font-weight: bold;
}

.fm-popup-button.update {
    width: auto;
    height: 26px;
    border-radius: 0px;
    color: #09498d !important;
    border: solid 1px #c4c3c3dd !important;
    background-color: #ffffff;
}
.delBtn {
    width: auto;
    height: 26px;
    border-radius: 0px;
    border: solid 1px #ea6948 !important;
    background-color: #ffffff;
    color: #ea6948 !important;
}
.btn{
	border-radius: 0;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #ffffff;
    border-color: #122b40;
}
.dropdown-menu {

    left: -100px;
}

.search-panel .btn_group_under {
    text-align: right;
    padding: 15px 14px 0 0;
    border-top: 1px dashed #c0c0c0;
    width: 100%;
}
.saveBtn {
    width: auto;
    height: 26px;
    border-radius: 0px;
    border: solid 1px #c4c3c3dd !important;
    background-color: #ffffff;
}

.exeBtn {
    width: auto;
    height: 26px;
    border-radius: 0px;
    border: solid 1px #c4c3c3dd !important;
    background-color: #ffffff;
}


#search_area .control-label.grid-title.value-title::before{
	content: "\2022";
    font-size: 9px;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: top;
}
#mainTable_total{
	color: royalblue;
}

.search-panel .grid-title {
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    width: auto;
    min-width: 100px;
}

.search-panel .col {
    padding-right: 5px;
    margin-top: 10px;
    position: relative;
    float: left;
}

.search-panel .input-group {
    display: inline-table;
    width: 60%;
    /* margin-left: 10px; */
}

.newBtn:before{
    font-family: FontAwesome;
    content: "\f055";
    color: green;
    padding-right: 5px;
}
.update:before{
    font-family: FontAwesome;
    content: "\f058";
    color: #003f80;
    padding-right: 5px;
}
.delBtn::before{
	font-family: FontAwesome;
    content: "\f057";
    color: #c50000;
    padding-right: 5px;
}

.menu-layout-3 .form-control {
    height: 24px;
    padding: 0px 2px;
    width: 123px;
}
.form-control.form-textarea.input{
	padding: 0px 2px;
    /* width: 80%; */
}
/* #vm_fw_save_popup .form-control.form-textarea.input{ */
/* 	width:84%; */
/* } */
/* #create_snapshot_form_popup .form-control.form-textarea.input{ */
/* 	padding: 0px 2px; */
/*     width: 84%; */
/* } */
#approval_req_form_popup_REQ_NM{
	display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.detail-panel .panel-body .col > div > label.inquiry{
    min-height: 37px;
    line-height: 37px;
    width: auto;
    height: 99%;
/*     max-width: none; */
    text-align: left !important;
    background: #f8f8f8;
    padding-left: 5px;
    font-weight: bold;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .form-control.form-textarea.input{
		padding: 0px 2px;
	    width: 78%;
	}
	/*#vm_fw_save_popup .form-control.form-textarea.input{
		width: 83%;
	}
	#create_snapshot_form_popup .form-control.form-textarea.input{
		width: 83%;
	}*/
	#approval_req_form_popup_REQ_NM{
		display: inline-block;
	    width: 160px;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}
	
	.detail-panel .panel-body .col > div > label.inquiry{
    min-height: 37px;
    line-height: 37px;
    width: auto;
    height: 98%;
/*     max-width: none; */
    text-align: left !important;
    background: #f8f8f8;
    padding-left: 5px;
    font-weight: bold;
}
}
.search-panel .col.col-search {
    display: inline-block;
    padding: 0;
    margin-left: 15px;

}

.detail-panel .panel-body .col > div > label, .detail-panel .panel-body .col > table label {
    min-height: 37px;
    line-height: 37px;
    width: auto;
    height: 100%;
/*     max-width: none; */
    text-align: left !important;
    background: #f8f8f8;
    padding-left: 5px;
    font-weight: bold;
}
#input_area .form-control, #input_area .output{
    padding: 2px;
}

.menu-tab{
	height: 40px;
    text-align: center;
    margin-bottom: 15px;
}
.menu-tab > div{
    display: inline-block;
    float:left;
    width: 49%;
    padding-top: 15px;
    padding-bottom: 15px;
	font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 4px solid #ddd;

}
.menu-tab > div.active{

    color: #012989;
    border-bottom: 4px solid #012989;
}
.favoriteButton{
    display: inline-block;
    float: right;
    margin: 27px 34px 11px 0!important;
    background: #6699CC;
    color: white;
    border: none;
    width: 101px;
    height: 26px;
    border-radius: 9px;
}
.favoriteButton.add:before{
    font-family: FontAwesome;
    content: "\f067";
    padding-right: 6px;
    color: #ffff43;
    font-size: 12px;
}
.favoriteButton.remove:before{
    font-family: FontAwesome;
    content: "\f068";
    padding-right: 6px;
    color: #d82727;
    font-size: 12px;
}
.reload input{
	width: 29px;
    height: 21px;
    border: 1px solid #b3b3b3dd;
    border-radius: 4px;
    padding: 2px;
}
.reload span{
   	padding-left: 6px;
}
.reload img{
   	width: 20px;
    margin-top: -3px;
    height : 20px;
    cursor: pointer;
}

.popup_area .input-group.compact .form-control.input, .popup_area .input-group .form-control.input.hastitle{
	padding: 2px;

}

.popup_area .form-control.hastitle, .popup_area .output.hastitle{
	padding:2px;
}
.bt{
    margin-top: 4px;
    margin-right: 5px;
}
.col.col-sm-2.wid{
	width: 283px;
}
.topbar-ci{
	display: inline-block;
    line-height: 60px;
    text-align: center;
}
.menu-layout-3 .btn {
    padding: 1px 10px;
}

.sm-btn {
    border: 1px solid gray;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 20%;
    margin-left: 10px;
    color: #ffffff;
}

.circle {
    line-height: 15px;
    border: 0px solid gray;
    padding-left: 4px;
    padding-right: 5px;
    font-size: 13px;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 50%;
    background-color: #df1f3d;
    position: absolute;
    right: -4px;
    top: -8px;
    color: white;
}

.back_blue{
	background: #1b4583;
    color: white !important;
}

.titleOver{
	display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.floatLeft{
	float: left;
}
.search_info{
	float: left;
}
.LPadding{
	padding-left: 0px;
}
.RPadding{
	padding: 0px;
}
.modal-header .close:before {
    content: url(/res/img/shape-820.png);
}
